@charset "UTF-8";
* {
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700&family=Sriracha&display=swap');

*{
    padding: 0px;
    margin: 0px;
}
:root{
    --fontetitulo: 'Passion One', cursive;
    --fontetexto: 'Sriracha', cursive;
    --fontpadrao: Verdana, Geneva, Tahoma, sans-serif;
}
html, body{
    min-height: 100vh;
    font-family: var(--fontpadrao);
}
header{
    font-family: var(--fontetitulo);
    text-align: center;
    background-color: black;
    color: white;
}
header h1{
    padding-top: 50px;
    font-size: 10vw;
    font-variant: small-caps;
}
header p{
    padding-bottom: 50px;
}
.texto{
    background-color: white;
    color: black;
    font-size: 4vw; 
    font-weight: bold;
}
.imagem{
    background-color: darkgray;
    color: white;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--fontetexto); 
    font-size: 5vw;
}
section.imagem p{
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.507);
}
section > p{
    padding-bottom: 2em;
}
section#flor {
    background-image: url(pacote-d012/imagens/background001.jpg);
    background-position: right center;
}
section#livro{
    background-image: url(pacote-d012/imagens/background002.jpg);
    background-position: right center;
}
a{
    color: white;
    font-size:  1em;
    text-decoration: none;
    font-weight: bold;
}
a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}